@background-color: rgba(0, 0, 0, 0.05);
@del-background-color: rgba(245, 34, 45, 0.15);
@warn-background-color: rgba(255, 213, 145, 0.15);
@color: rgba(24, 144, 255, 1);
@delcolor: rgba(255, 0, 0, 1);
@warnColor: rgba(250, 140, 22, 1);

:global {
  .popover-icon {
    padding: 9px;
    font-size: 14px;
    border-radius: 4px;
    &:hover,
    &.ant-popover-open {
      color: @color;
      background-color: @background-color;
    }
    &.del:hover,
    &.del.ant-popover-open {
      color: @delcolor;
      background-color: @del-background-color;
    }
    &.warn:hover,
    &.warn.ant-popover-open {
      color: @warnColor;
      background-color: @warn-background-color;
    }
  }
}
