.ext-tree-preview {
  height: 100%;
  :global {
    // .culumn-layout {
    //   padding-top: 1px;
    // }
    .detail-wrapper {
      padding: 0 20px;
    }
    .ant-descriptions-title {
      margin: 20px 0;
    }
    .ant-descriptions-view {
      padding-left: 20px;
    }
  }
}
