.ext-tree-preview {
  height: 100%;
  overflow: hidden;
  :global {
    // .culumn-layout {
    //   padding-top: 1px;
    // }
    .detail-wrapper {
      padding: 0 20px;
    }
    .ant-descriptions-title {
      margin: 20px 0;
    }
    .ant-descriptions-view {
      padding-left: 20px;
    }
    .slot-col-wrapper {
      .ant-card {
        .ant-card-body {
          padding: 8px 8px !important;
        }
      }
    }
  }
}
